<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST_Assure_DEMO">
  <test name="Rest API Demo Project">
<!--    <parameter name="testDataFileName" value="settings.properties" />-->
    <classes>
        <class name="dummyApi.MyFirstRestAssuredClass"/>
        <class name="dummyApi.GetUsersTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->